/* 3-1.2 通用样式 */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  height: 100vh;
  background-color: #f1f4f6;
}

#app{
  height: 100%;
}

.el-header{
  height: 50px,!important;
  padding: 0 !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  border-bottom: 1px solid transparent;
}

.pagination-info{
  padding: 10px 0;
  background-color: #fff;
  .el-pagination{
    justify-content: end;
  }
}

/* h1{
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
